
@model IEnumerable<Match.Models.User>


<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="brand-logo">Do You Even Pull?</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="/all">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad">settings</i></a>
</div>
</div>

<ul id='dropdownAccount' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
</ul>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>

<div class="body-container">
  <div class="body-stuff">
    <h4>Here are all your conversations:</h4>
    @{
      for (var i = 0; i < @ViewBag.AllConvos.Count; i++) {
        <div class="conversation">
            <a href="/conversation/@ViewBag.Friends[i].UserId"><h5>@ViewBag.Friends[i].name</h5></a>
            <p>@ViewBag.AllConvos[i].Content</p>
        </div>
        <hr>
      }
    }
  </div>
</div>
</div>