
@model IEnumerable<Match.Models.User>


<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="brand-logo">Sadness.com</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="#">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline" href="#">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad">settings</i></a>
</div>
</div>

<ul id='dropdownAccount' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
</ul>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>

<div class="body-container">
    <div class="body-stuff">
    
        <form action="write_message/@ViewBag.FriendId" method="POST">
            <p>Write something to @ViewBag.Friend.name:</p>
            <textarea></textarea>
            <button type="submit">Send</button>
        </form>
        <hr>

        @{
            if (@ViewBag.MsgsInConvo != null) {
                foreach(var msg in @ViewBag.MsgsInConvo) {
                    if(msg.SenderId == @ViewBag.Curr) {
                        <div class="you">
                            msg.Content
                        </div>
                    } else {
                        <div class="them">
                            msg.Content
                        </div>
                    }
                }    
            }
            
        }

    </div>
</div>