<!-- <nav id="dash-nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sadness<i class="material-icons">sentiment_dissatisfied</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down try">
        <li><a class="no-underline" href="#">Matches</a></li>
        <li><a class="no-underline" href="#">Discover</a></li>
        <li><a class="no-underline" href="#">Messages</a></li>
        <li><a class="no-underline" href="#">Interests</a></li>
      </ul>
    </div>
  </nav> -->

  <div id="dash-nav">
      <div class="left-bar"><a href="dashboard" class="brand-logo">Sadness.com</a></div>
      <div class="middle-bar">
        <div class="center-help">
          <div class="hover-square"><a class="no-underline" href="#">Matches</a></div>
          <div class="hover-square"><a class="no-underline" href="#">Discover</a></div>
          <div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
          <div class="hover-square"><a class="no-underline" href="#">Interests</a></div>
        </div>
      </div>
      <div class="right-bar">
        <a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad">sentiment_dissatisfied</i></a>
        <a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad">settings</i></a>
      </div>
  </div>

  <ul id='dropdownAccount' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
  </ul>
  <ul id='dropdownSettings' class='dropdown-content'>
    <li><a href="logout">Log out</a></li>
  </ul>
        