<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="maroon brand-logo">Sadness.com</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad maroon">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad maroon">settings</i></a>
</div>
</div>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>
<ul id='likeTypes' class='dropdown-content'>
  <li><a href="/likes">My Likes</a></li>
  <li><a href="/likers">My Likers</a></li>
</ul>

<div class="body-container">
  <div class="body-stuff2">
    @{
        foreach(var like in @ViewBag.myLikers){
            <div class="lover-cube">
                <img id="profP" src="@Url.Content(like.PersonLiking.profile_picture)"/>
                <p><a class="link-text" href="/lovers/@like.PersonLikingId">@like.PersonLiking.name</a>, @like.PersonLiking.age years old</p>
                <a href="/unlike/@like.PersonLikingId" class="link-text"><button>Like</button></a><a class="link-text" href="/conversation/@like.PersonLikingId"><button>Message</button></a>
            </div>
        }
    }
  </div>
</div>