<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="brand-logo">Sadness.com</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline" href="#">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad">settings</i></a>
</div>
</div>

@{
    foreach(var item in @ViewBag.user.Matches){
        <p>Hello</p>
    }
}
<p>Hey</p>