@{
    ViewData["Title"] = "Home Page";
}
@model Match.Models.UserViewModel
@using Match
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div id="rootHeader">
    <h3 style="margin-top: 0px;margin-bottom: 0px;">Welcome to Sadness</h3>
    <h6>Where 1% of people actually get married!</h6>
</div>
<div id="sexPreferenceContainer">
    <div class="row">
        <form class="form" id="userForm" asp-controller="Home" asp-action="addUser" method="post">
            <div class="col-md-4 col-md-offset-4 sexPerference"> 
                    <h4 style="text-align:center">Find local hot chicks and studs in your area</h4>
                    <div class="input-field" style="margin-top:40px;">
                        <select>
                        <option value="1">Man Seeking a Woman</option>
                        <option value="2">Man Seeking a Man</option>
                        <option value="3">Woman Seeking a Man</option>
                        <option value="4">Woman Seeking a Woman</option>
                        </select>
                        <label>I am a</label>
                    </div>
                    <label for="zip">Zip / Postal code</label>
                    <input type="number" class="form-control" name="zip">
                    <button class="btn waves-effect waves-light blue" id="viewSingles" style="width:100%">View Singles</button>
                <a href="/login"><p class="logRegRedirects" style="text-align:center">Already a member?</p></a>
            </div>
            <div class="col-md-4 col-md-offset-4 infoPerference"> 
                <div class="input-field col s6">
                    <input id="name" type="text" asp-for="name">
                    <label asp-for="name"></label>
                </div>
                <div class="input-field col s6">
                    <input id="Username" type="text">
                    <label for="Username">Username</label>
                </div>
                <div class="input-field col s12">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                    <input id="email" type="email">
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light blue" id="submitForm" style="width:100%">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>