.body-content{
    margin-top: 0px;
}
#sexPreferenceContainer{
    width: 100%;
    height:100vh;
    background-image: url("https://previews.123rf.com/images/kurhan/kurhan1602/kurhan160200753/52885295-Business-people-workers-faces-collage-background-Teamwork-concept--Stock-Photo.jpg");
}
.sexPerference{
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.infoPerference{
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
#rootHeader{
    text-align: center;
    background-color: #1574BB;
    color: white;
    padding: 10px;
}
.caret{
    display: none;
}
.alignRadioButtons{
    margin-left: 100px;
}
.logRegRedirects{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

#dash-nav{
    background: #f5413e;
    box-sizing: border-box;
    padding: 0px 50px;
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 2px rgb(80,80,80);
    vertical-align: top;
    /* position: absolute; */
}

.no-underline{
    text-decoration: none;
}

.try{
    margin-right: 100px;
}

.brand-logo{
    font-size: 40px;
    line-height: 80px;
    color: white;
}

.sad{
    font-size: 40px;
    margin-left: 10px;
}

.help{
    margin-top: 30px;
}

.left-bar{
    display: inline-block;
    width: 25%;
    height: 80px;
    vertical-align: top;
}

.middle-bar{
    display: inline-block;
    width: 49%;
    height: 80px;
    vertical-align: top;
    line-height: 80px;
    font-size: 18px;
}

.middle-bar a {
    color: white;
    text-decoration: none;
}

.right-bar{
    display: inline-block;
    width: 25%;
    height: 80px;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 20px;
    padding-top: 18px;
    color: white;
    text-align: right;
}

.center-help{
    width: 460px;
    margin: auto;
    height: 100%;
}

.hover-square{
    height: 80px;
    display: inline-block;
    padding: 0px 15px;
}

.hover-square:hover{
    text-decoration: underline;
    background: maroon;
}

.maroon:hover{
    color: maroon;
}

.sad:hover{
    color: maroon;
}

.dropdown-button{
    color: white;
}

.dropdown-content li a{
    color: maroon;  
}


.body-stuff{
    width: 1000px;
    border: 1px solid rgb(200,200,200);
    border-radius: 1px;
    margin: auto;
    background: white;
    padding: 20px;
}
.you{
    max-width: 320px;
    padding: 20px;
    color: white;
    background-color: #1574BB;
    border-radius: 20px;
    margin-bottom: 20px;
}
.them{
    max-width: 320px;
    padding: 20px;
    color: white;
    background-color: seagreen;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 67%;
}

#contentContainer{
    height: 500px;
    overflow: scroll;
}

.body-stuff2{
    width: 1000px;
    border: 1px solid rgb(200,200,200);
    border-radius: 1px;
    margin: auto;
    background: white;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
}

.body-container{
    width:100%;
    height: 100vh;
    padding: 40px 0px;
    background: rgb(240,240,240);
}

.frame{
    width: 280px;
    height: 280px;
    overflow: hidden;
    border: 1px solid grey;
    margin: 30px 0px 0px 20px;
}

#profP{
    width: 280px;
    height: 280px;
}

#shh{
    display: none;
    margin-left: 40px;
}

#update-btn{
    margin-left: 70px;
}

.hide-song{
    display: none;
}
.conversation {
    padding: 20px;
    margin: 25px;
    /* border: 1px solid darkgray; */
    border-radius: 5px;
    /* background: rgb(240,240,240); */
}

.lover-cube{
    display: inline-block;
    background: rgb(180,180,180);
    margin-right: 20px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

.lover-cube h5 a{
    color: maroon;
}

.cube-contain{
    display: inline-block;
}

.link-text{
    color: maroon;
}

.lover-hover{
    display: inline-block;
    background: rgb(60,60,60);
    margin-right: 20px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.lover-hover img{
    opacity: .4;
}

.lover-hover h6{
    color: white;
}

.lover-hover h5{
    color: #2857a3;
}

.lover-cube div{
    display: none;
}

.hover-test{
    position: absolute; 
    top: 10px;
    left: 15px; 
}